
html, body {
    height: 100%;
    min-height: 600px;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f6fafe
}

#wrap {
    width: 450px;
    min-height: 400px;
}

#main {
    position: relative;
    z-index: 20;
    padding: 0 20px 20px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#imgWrap {
    text-align: center;
}

#imgWrap img {
    margin-top: -64px;
    margin-bottom: -24px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
}

#refresh {
    float: left;
    width: 56px;
    margin: 4px 12px 4px 0;
}

#installed {
    display: none;
}

#installed.show {
    display: block;
}

#installed h2 {
    background: #e8f5e9;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

#status {
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: #b0bec5;
    font-size: 120%;
    padding: 14px 8px 8px;
    margin: 0 8px;
    height: 1.4em;
    transition: all .3s;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    transform: translateY(-150%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-timing-function: ease-in;
    opacity: 0;
}

#status.open {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    transition-timing-function: ease-out;
    opacity: 1;
}

form > p {
    margin: 0 0 10px 0;
    min-height: 24px;
}

.butt {
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
    transition: all .3s;
    cursor: pointer;
}

.butt:hover {
    background: #f3f3f3;
}

.butt.save {
    background: #263238;
    color: #fff;
}

.butt.save:hover {
    background: #455a64;
}

.textInput {
    margin: 0 0 0 1em;
    padding: 4px 8px;
}
#o_accountNo {
    width: 90px;
}
.info {
    display: inline-block;
    width: 20px;
    cursor: help;
    position: relative;
}
.infoText {
    display: block;
    position: absolute;
    top: 120%;
    left: 50%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.19)) drop-shadow(0 6px 6px rgba(0, 0, 0, 0.23));
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
}
.infoText > span {
    display: block;
    width: 300px;
    padding: 30px 20px 20px;
    background-color: #fcfcfc;
    border-radius: 2px;
    clip-path: polygon(0 10px, 45% 10px, 50% 0, 55% 10px, 100% 10px, 100% 100%, 0 100%);
}
.info:hover .infoText, .info:focus .infoText {
    visibility: visible;
    opacity: 100;
}